body{
    background-color: #060019;
    margin: 0;
}



#topRow h1{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    /* font-weight: normal; */
}

#toprow a{
    color: white;
    text-decoration: none;
}

*{
    overflow-x: hidden;
}

#col1{
    width: 25vw;
    border-right: 1px solid white !important;
}

#col1 *{
    font-family: 'Open Sans', sans-serif;
}

#col1 h2{
    font-weight: bolder !important;
}

#col1 h3,h4,h5,h6{
    font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
}

.hr25{
    height: .5px !important;
    width:25vw;
    background-color: white;
}

#walletInfo{
    width: 25vw;
    height: 35%;
    margin: 0 !important;
}

#walletInfo *{
    text-align: center;
}

#walletInfo h2{
    padding-top: 20px;
    margin: 0 !important;
    padding-bottom: 10px;
}

#placeOrders{
    width: 25vw;
    height: 100%;
    margin: 0 !important;
}

#placeOrders *{
    text-align: center;
}

#sellForm input{
    height: 50px;
    width: 17vw;
    display: block !important;
    margin: 0 auto;
    margin-top: 7.5px;
    font-size: 15px;
    border: none;
    color: white; 
}

#sellForm input[type="submit"]{
    background-color: orangered;
}

#buyForm{
    width: 25vw; 
    display: flex;
    justify-content: center;
}

.wideHR{
    background-color: white;
    height: 0.5px;
    margin: 0;
    width: 100vw;
}

#buyForm input{
    height: 50px;
    width: 17vw;
    display: block !important;
    margin: 0 auto;
    margin-top: 7.5px;
    font-size: 15px;
    border: none;
    color: white; 
}

#buyForm input[type="submit"]{
    background-color: green;
}

#buyForm{
    width: 25vw; 
    display: flex;
    justify-content: center;
}

.inline{
    display: inline !important;
}

.walletBal{
    width: 25vw;
}

@media only screen and (max-width: 710px){
    #col1{
        width: 100% !important;
    }
    #col1 *{
        width: 100% !important;
    }
    #col1 input{
        width: 90% !important;
    }
}
